<h2>You can contact us:</h2>
<p>
<p>Free to call us on toll free number: 180-9988776655</p>
<p>You may write us on email: <%= link_to "BookWagon@gmail.com", "https://www.gmail.com" %></p>
<p>Our address: 510, Shagun Tower, Vijay Nagar, Indore (452010)</p>
</p>