<h1>BOOK WAGON</h1>
<p>
    Are you a student struggling to get the right books for you assignment? A home maker looking for 
    Harry Potter Series for your child without putting a hole in your pocket? A retired professional 
    trying to develop a hobby of reading? A professional looking to further your career by learning more? 
    The HR at your office hoping to encourage reading amongst your employees?

    If yes, you are at just the right place!

    Ratna Nidhi Library, Babulnath, Mumbai provides access to over 20000 books for all age groups!
    We allow a long borrowing time- 6 months to an year with 100% refundable deposit! Our wide 
    range of books will interest children, students, NGOs, Corporates, professionals, retired personnel and many more.

    From Paulo Coelho's Alchemist to Steven Covey's Seven Habits, from Peter Drucker To Romila Thapar,
    from Amitav Ghosh to J.K. Rowling; you will definately find the book of your interest! You can
    surf the books through our specially designed Library Management System accessible over internet
    if you are a member!
</p>

<p>
    <h2><%= link_to 'Select-Author', authors_path %></h2>
</p>