<%= form_with(model: [ @author, @author.books.build ], local: true) do |form| %>
    <p>
        <%= form.text_field :name, placeholder: 'Book-name' %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>